.wrapper {
    max-width: 1006px;
    margin: 0 auto;
}
.description {
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.uppercase-text {
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Header styles */
.header {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.header__item {
    margin-right: 20px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link {
    font-family: 'ReformaGroteskMediumC';
    font-size: 25px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}
/* Header styles end */

/* Intro styles */
.intro {
    min-height: 100vh;
    background: url(../img/index/svg/background.svg) no-repeat center;
    background-size: cover;
    padding-top: 100px;
}
.intro__title {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'ReformaGroteskBoldC';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 95px;
    line-height: 125%;
    color: #DB3138;
}
.intro__rectangles {
    width: 76px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
}
.intro__subtitle{
    width: 340px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
}
.intro__button {
    margin: 0 auto;
    display: block;
    padding: 15px 25px;
    font-family: "ReformaGroteskDemiC";
    font-size: 20px;
    color: #FFFFFF;
    background-color: #DB3138;
    border: 0;
    text-transform: uppercase;
}
/* Intro styles end */

/* Info styles */
.info__wrap {
    position: position;
}
.info__items {
    width: 100vw;
    position: absolute;
    transform: translateY(-100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.info__item {
    grid-column: span 1;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.info__item:last-child{
    border-right: none;
}
.info__item-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    font-family: "ReformaGroteskDemiC";
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.info__item-content {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    font-family: "ReformaGroteskDemiC";
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #DB3138;
}
.info__item-content:last-child{
    margin-bottom: 20px;
}
/* Info styles end */

/* Achievements styles */
.achievements {
    background-color: #1E1E1E;
    background-size: cover;
}
.achievements__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 25px;
    padding-top: 80px;
}
.achievements__title {
    max-width: 500px;
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.achievements__rectangles {
    margin-top: 20px;
}
.achievements__content {
    margin-top: 20px;
    max-width: 450px;
}
.achievement__table {
    display: flex;
}
.achievement__first-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.achievement__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    border: 1px solid #FFFFFF;
}
.achievement__number {
    font-size: 3.25rem;
    font-family: ReformaGroteskDemiC;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DB3138;
}
.achievement__number span {
    font-size: 1.5rem;
}
.achievement__text {
    max-width: 200px;
}
.achievement__second-column {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.achievement__cup-img {
    margin-bottom: 10px;
}
/* Achievements styles end */

/* Scrolling styles */
.scrolling {
    background-color: #1E1E1E;
    background-size: cover;
}
/* Scrolling styles end */