body {
    font-family: 'ReformaGroteskDemiC';
    background-color: #141414;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}

.rectangle-style {
    margin-right: 10px;
}

.description {
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.uppercase-text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Intro styles */
.intro {
    background: url(../img/index/svg/background.svg) no-repeat center;
    background-size: cover;
    padding-top: 30px;
}
.intro__header {
    margin-bottom: 50px;
}
.intro__header-wrapper {
    display: flex;
    justify-content: space-between;
}
.intro__header-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.intro__header-item {
    margin-right: 20px;
}
.intro__header-link {
    font-family: 'ReformaGroteskMediumC';
    font-size: 25px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}
.intro__title {
    display: flex;
    justify-content: center;
    font-family: 'ReformaGroteskBoldC';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 95px;
    line-height: 125%;
    color: #DB3138;
}
.intro__rectangles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.intro__subtitle{
    margin: 0 auto;
    width: 25%;
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
}
.intro__button {
    margin: 0 auto;
    display: block;
    padding: 15px 25px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #DB3138;
    border: 0;
    text-transform: uppercase;
}
.intro__items {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #898989;
}
.intro__item {
    grid-column: span 1;
    border-right: 1px solid #898989;
    border-bottom: 1px solid #898989;
    padding-top: 20px;
    padding-bottom: 20px;
}
.intro__item:last-child{
    border-right: none;
}
.intro__item-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.intro__item-content {
    max-width: 50%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #DB3138;
}
.intro__item-content:last-child{
    margin-bottom: 20px;
}
/* Intro styles end */

/* Achievements styles */
.achievements__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 25px;
    padding-top: 80px;
}
.achievements__title {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.achievements__rectangles {
    margin-top: 20px;
}
.achievements__content {
    margin-top: 20px;
    max-width: 95%;
}
.achievement__table {
    display: flex;
}
.achievement__first-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.achievement__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #898989;
}
.achievement__number {
    padding-top: 30px;
    font-size: 3.25rem;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DB3138;
}
.achievement__number span {
    font-size: 1.5rem;
}
.achievement__text {
    max-width: 90%;
    padding-bottom: 30px;
}
.achievement__second-column {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.achievement__cup-img {
    padding-top: 30px;
    padding-bottom: 10px;
}
/* Achievements styles end */

/* Scrolling styles */
.scrolling {
    padding-top: 80px;
}
.scrolling__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scrolling__button {
    display: flex;
    justify-content: center;
    margin: 0 auto;

}
.scrolling__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 20px;
}
.scrolling__card {
    width: 80%;
    height: 15%;
    transform: translateY(-50%);
    margin: 0 auto;
    background-color: #DB3138;
}
.scrolling__card-info {
    max-width: 80%;
    padding-top: 25px;
    margin: 0 auto;
}
/* Scrolling styles end */
